<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMI City</title>
    <!-- Load Vue.js framework -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Load Naive UI component library -->
    <script src="https://unpkg.com/naive-ui"></script>
    <link rel="stylesheet" href="https://unpkg.com/naive-ui/dist/naive-ui.css">
    <!-- Load Line Awesome icons -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Load Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='slike/favicon5.png') }}">
</head>
<body>
    <p>adadwd</p>
</body>
</html>